<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

    <!-- jQuery Library -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.js" integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg=" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom Stylesheet  -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    
	<title>Burgers - Mmmmmm</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <img src="/assets/img/fat-burger.png" width="200px" id="fat-burger">
            <h1>Fat Burger Consumption</h1>
        </div>

    	{{{ body }}}
        
    <footer class="panel panel-footer">
        <h3>Thank you... come again!</h3>
    </footer>

    </div>
</body>
</html>